<tr class="recipe">
  <td><%= recipe.title %></td>
  <td><%= recipe.description %></td>
  <td><%= recipe.image %></td>
  <td><%= link_to 'Show', recipe %></td>
  <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
  <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>